.imgProductos {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.colorBoton {
    color: white;
    background-color: #0c0a11;
}

.colorBoton:hover {
    background-color: rgb(217, 25, 25);
    color: white;
}